<div>
  <button v-if="user" type="button" class="btn btn-sm btn-outline-primary" @click="showAddGiver = true">
    {{$t('common.addnew') }}
  </button>

  <form @submit.prevent="handleSaveGiver" ref="observerGiver">
    <modal-dialog :show="showAddGiver" @close="showAddGiver = false">
      <template #header>{{$t('giver.addnew') }}</template>
      <template #body>
        <div class="mb-3">
          <div class="input-group">
            <input type="text" class="form-control" :class="{ 'is-invalid': nameError }" 
              aria-label="fullname" :placeholder="$t('common.fullname')" v-model="name" />
          </div>
          <div class="error-messages" v-if="nameError">{{ nameError }}</div>
        </div>

        <div class="mb-3">
          <div class="input-group">
            <input type="text" class="form-control" :class="{ 'is-invalid': phoneError }" 
              aria-label="phone" :placeholder="$t('common.phone')" v-model="phone" />
          </div>
          <div class="error-messages" v-if="phoneError">{{ phoneError }}</div>
        </div>

        <div class="mb-3">
          <div class="input-group">
            <input type="text" class="form-control" :class="{ 'is-invalid': addressError }" 
              aria-label="Address" maxlength="50" :placeholder="$t('common.address')" 
              v-model="address" />
          </div>
          <div class="error-messages" v-if="addressError">{{ addressError }}</div>
        </div>

        <div class="mb-3">
          <div class="input-group">
            <select class="form-select" :class="{ 'is-invalid': cityError }" v-model="city">
              <option v-for="city in optionCities" :key="city.id" :value="city.id">
                {{ city.name }}
              </option>
            </select>
          </div>
          <div class="error-messages" v-if="cityError">{{ cityError }}</div>
        </div>

        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">{{ $t('common.description') }}</span>
          </div>
          <textarea class="form-control" aria-label="description" v-model="description"></textarea>
        </div>
      </template>
      <template #footer>
        <button type="button" class="btn btn-sm btn-outline-primary" :disabled="fetchingData"
          @click="handleSaveAndClose">{{ $t('common.saveandclose') }}</button>
        <button type="button" class="btn btn-sm btn-outline-primary" @click="handleSaveGiver" 
          :disabled="fetchingData">{{ $t('common.save') }}</button>
      </template>
    </modal-dialog>
  </form>
</div>