<div>
  <div class="row">
    <div class="col-12 col-sm-3 mb-2">
      <input class="form-control form-control-sm" list="cityList" :placeholder="$t('common.city')" @change="cityChange"
        @keyup.delete="cityChange">
      <datalist id="cityList">
        <option :key="city.id" :value="city.name" v-for="city in cities" />
      </datalist>
    </div>
    <div class="col">
      <div v-if="fetchingData">{{ $t('common.loading') }}</div>
    </div>
    <div class="col-6 col-sm-4 mb-2 d-flex justify-content-end" v-if="user">
      <giver-info />
      <button class="btn btn-sm ms-2" :class="filter.isMine ? 'btn-secondary' : 'btn-outline-primary'"
        :disabled="fetchingData" @click="isMineChange">{{ $t('common.mine') }}</button>
    </div>
  </div>

  <div v-if="isWeb">
    <table class="table table-sm table-bordered table-striped table-hover">
      <thead>
        <tr>
          <th scope="col" class="column-number">
            <input type="number" class="form-control form-control-sm" v-model="filter.number" min="0" placeholder="#"
              @input="filterChange" />
          </th>
          <th scope="col" class="column-name">
            <input type="text" class="form-control form-control-sm" v-model="filter.name"
              :placeholder="$t('common.fullname')" @input="filterChange" />
          </th>
          <th scope="col" class="column-phone">
            <input type="text" class="form-control form-control-sm" v-model="filter.phone"
              :placeholder="$t('common.phone')" @input="filterChange" />
          </th>
          <th scope="col" class="text-start">{{ $t('common.address') }}</th>
          <th scope="col" class="column-city">{{ $t('common.city') }}</th>
          <th scope="col">{{ $t('common.description') }}</th>
          <th scope="col" class="column-images">{{ $t('common.images') }}</th>
          <th scope="col" class="column-action" v-if="givers.some(r => r.can_edit)">{{ $t('common.action') }}</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(giver, index) in givers" :key="index">
          <td scope="row">{{ giver.number }}</td>
          <td class="text-start">{{ giver.name }}</td>
          <td class="text-start">{{ giver.phone }}</td>
          <td class="text-start">{{ giver.address }}</td>
          <td>{{ cityNameById(giver.city) }}</td>
          <td>
            <i class="bi bi-card-text fs-5" v-if="giver.description && giver.description.length > 20"
              v-tooltip="giver.description" />
            <span v-else>{{ giver.description }}</span>
          </td>
          <td>
            <button
              v-if="giver.images && giver.images.length > 0"
              type="button"
              class="icon-action"
              :title="$t('common.viewimages')"
              @click.stop="openImages(giver.images)"
            >
              <i class="bi bi-eye fs-4" />
            </button>
          </td>
          <td class="column-action" v-if="givers.some(r => r.can_edit)">
            <div class="action-icons">
              <div v-if="giver.can_edit">
                <file-uploader :id="giver.id" :is-giver="true" />
              </div>
              <div v-if="giver.can_edit">
                <div v-if="giver.active">
                  <button type="button" class="icon-action" :title="$t('common.stopdonate')" @click.stop="setActive(giver.id)">
                    <i class="bi bi-stop-circle fs-5" />
                  </button>
                </div>
                <div v-else>
                  <button type="button" class="icon-action" :title="$t('common.needtodonate')" @click.stop="setActive(giver.id)">
                    <i class="bi bi-play-circle fs-5" />
                  </button>
                </div>
              </div>
              <div v-if="giver.can_delete">
                <button type="button" class="icon-action text-danger" :title="$t('common.delete')" @click.stop="handleDelete(giver.id)">
                  <i class="bi bi-x-circle fs-5" />
                </button>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div v-else>
    <div v-for="(giver, index) in givers" :key="index">
      <div class="card border-info mb-1">
        <div class="row g-0">
          <div class="col-4">
            <img :src="firstImage(giver)" class="img-fluid rounded-start h-100 object-fit-cover" alt="">
          </div>
          <div class="col-8">
            <div class="card-body p-2">
              <div class="fw-semibold">#{{ giver.number }} {{ giver.name }}</div>
              <div class="small text-muted text-truncate">{{ giver.address }}</div>
              <div class="d-flex align-items-center gap-2 flex-wrap mt-1">
                <i class="bi bi-telephone fs-6" v-tooltip="giver.phone" style="cursor:pointer" />
                <i class="bi bi-card-text fs-6" v-if="giver.description && giver.description.length > 20"
                  v-tooltip="giver.description" style="cursor:pointer" />
                <button v-if="giver.images && giver.images.length > 0" type="button" class="icon-action"
                  :title="$t('common.viewimages')" @click.stop="openImages(giver.images)">
                  <i class="bi bi-eye fs-6" />
                </button>
              </div>
              <div class="d-flex align-items-center gap-2 mt-1" v-if="giver.can_edit">
                <file-uploader :id="giver.id" :is-giver="true" />
                <button type="button" class="icon-action" @click.stop="setActive(giver.id)">
                  <i v-if="giver.active" class="bi bi-stop-circle fs-6" :title="$t('common.stopdonate')" />
                  <i v-else class="bi bi-play-circle fs-6" :title="$t('common.needtodonate')" />
                </button>
                <button v-if="giver.can_delete" type="button" class="icon-action text-danger"
                  :title="$t('common.delete')" @click.stop="handleDelete(giver.id)">
                  <i class="bi bi-x-circle fs-6" />
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <nav v-if="total > paging.page_size" class="mt-2 d-flex justify-content-center">
    <ul class="pagination">
      <li class="page-item" :class="{ disabled: paging.page === 1 }">
        <a class="page-link" href="#" @click.prevent="pagingChange(paging.page - 1)">{{ $t('common.pagination_previous') }}</a>
      </li>
      <li class="page-item" v-for="n in Math.ceil(total / paging.page_size)" :key="n"
        :class="{ active: paging.page === n }">
        <a class="page-link" href="#" @click.prevent="pagingChange(n)">{{ n }}</a>
      </li>
      <li class="page-item" :class="{ disabled: paging.page === Math.ceil(total / paging.page_size) }">
        <a class="page-link" href="#" @click.prevent="pagingChange(paging.page + 1)">{{ $t('common.pagination_next') }}</a>
      </li>
    </ul>
  </nav>

  <modal-slider v-model:show="showGiverImages" :images="giverImages" />
</div>
