<div>
  <b-button v-if="user && isNew" type="button" size="sm" variant="outline-primary" @click="showAddDonate = true">Thêm
    mới
  </b-button>
  <b-icon v-if="user && isEdit" icon="card-heading" scale="1.3" title="Chỉnh sửa" @click="showAddDonate = true" />
  <b-icon v-if="user && isNewInline" icon="gift" scale="1.2" title="Chia sẻ" @click="showAddDonate = true" />

  <ValidationObserver ref="observerDonate" v-slot="{ handleSubmit }">
    <modal-dialog :show="showAddDonate" @close="showAddDonate = false">
      <template v-slot:header>Bạn chỉ cần nhập số tiền đã chia sẻ!!!</template>
      <template v-slot:body>
        <ValidationProvider name="Số tiền" rules="required" v-slot="{ errors }">
          <div class="mb-3">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">$</span>
              </div>
              <input type="number" step="1" class="form-control" v-model="donate.donate" placeholder="Số tiền"
                aria-label="Số tiền" min="0" :class="{ 'is-invalid': errors.length > 0 }" />
            </div>
            <div class="error-messages">{{ errors[0] }}</div>
          </div>
        </ValidationProvider>

        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">Chi tiết</span>
          </div>
          <textarea class="form-control" aria-label="Chi tiết" v-model="donate.description"></textarea>
        </div>
      </template>
      <template v-slot:footer>
        <b-button size="sm" variant="outline-primary" :disabled="fetchingData"
          @click="handleSubmit(handleSaveDonate);showAddDonate = false">Lưu và tắt</b-button>
        <b-button size="sm" variant="outline-primary" :disabled="fetchingData" @click="handleSubmit(handleSaveDonate)">
          Lưu lại</b-button>
      </template>
    </modal-dialog>
  </ValidationObserver>
</div>