<div>
  <b-row class="mb-2">
    <b-col>
      <div v-if="fetchingData">{{ $t('common.loading') }}</div>
    </b-col>
    <b-col cols="5" sm="4" class="d-flex justify-content-end" v-if="user">
      <donate-info :taker-id="takerId" :is-new="true" />
    </b-col>
  </b-row>

  <div v-if="isWeb">
    <table class="table table-sm table-bordered table-striped table-hover">
      <thead>
        <tr>
          <th scope="col" class="column-date">{{ $t('common.createddate') }}</th>
          <th scope="col" class="column-donate">{{ $t('common.donate') }}</th>
          <th scope="col" class="column-desc">{{ $t('common.description') }}</th>
          <th scope="col" v-if="taker.can_edit" class="column-action">{{ $t('common.action') }}</th>
        </tr>
      </thead>
      <tbody>
        <template v-for="(donate, index) in taker.donates">
          <tr :key="index" v-if="start <= index && index < end">
            <td scope="row" class="column-date">{{ donate.date_created | formatDate }}</td>
            <td class="column-donate">
              <div class="float-right">{{ Number(donate.donate).toLocaleString() }} vnđ</div>
            </td>
            <td class="column-desc">{{ donate.description }}</td>
            <td v-if="taker.can_edit" class="column-action">
              <div class="row justify-content-md-center">
                <div class="mx-2">
                  <donate-info :taker-id="taker.id" :is-edit="true" :edit-object="donate" />
                </div>
                <div class="mr-2" v-if="taker.can_delete">
                  <b-icon icon="x-circle" scale="1.2" variant="danger" :title="$t('common.delete')"
                    @click="handleDelete(donate.id)" />
                </div>
              </div>
            </td>
          </tr>
        </template>
      </tbody>
    </table>
  </div>
  <b-pagination v-if="rows > page_size" class="mt-2" align="center" :total-rows="rows" :per-page="page_size"
    v-model="page" first-number last-number>
  </b-pagination>
</div>