<div>
  <button v-if="user && isNew" type="button" class="btn btn-sm btn-outline-primary" @click="showAddDonate = true">
    {{ $t('donate.addnew') }}
  </button>
  <i v-if="user && isEdit" class="bi bi-card-heading fs-5" :title="$t('common.edit')" @click="showAddDonate = true"></i>
  <i v-if="user && isNewInline" class="bi bi-gift fs-5" :title="$t('common.donate')" @click="showAddDonate = true"></i>

  <form @submit.prevent="handleSubmit" ref="observerDonate">
    <modal-dialog :show="showAddDonate" @close="showAddDonate = false">
      <template #header>{{ $t('donate.haveDonate') }}</template>
      <template #body>
        <div class="mb-3">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">$</span>
            </div>
            <input type="number" step="1" class="form-control" :class="{ 'is-invalid': v$.donate.donate.$error }"
              v-model="donate.donate" :placeholder="$t('donate.money')" aria-label="money" min="0" />
          </div>
          <div class="error-messages" v-if="v$.donate.donate.$error">
            {{ v$.donate.donate.$errors[0].$message }}
          </div>
        </div>

        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">{{ $t('common.description') }}</span>
          </div>
          <textarea class="form-control" aria-label="description" v-model="donate.description"></textarea>
        </div>
      </template>
      <template #footer>
        <button type="button" class="btn btn-sm btn-outline-primary" :disabled="fetchingData" 
          @click="handleSaveAndClose">{{ $t('common.saveandclose') }}</button>
        <button type="button" class="btn btn-sm btn-outline-primary" :disabled="fetchingData" @click="handleSave">
          {{ $t('common.save') }}</button>
      </template>
    </modal-dialog>
  </form>
</div>