<div>
  <b-button v-if="user" type="button" size="sm" variant="outline-primary" @click="showAddTaker = true">
    {{ $t('common.addnew') }}
  </b-button>

  <ValidationObserver ref="observerTaker" v-slot="{ handleSubmit }">
    <modal-dialog :show="showAddTaker" @close="showAddTaker = false">
      <template v-slot:header>{{$t('taker.addnew') }}</template>
      <template v-slot:body>
        <ValidationProvider :name="$t('common.fullname')" rules="required" v-slot="{ errors }">
          <div class="mb-3">
            <div class="input-group">
              <input type="text" class="form-control" v-model="newTaker.name" :placeholder="$t('common.fullname')"
                aria-label="fullname" :class="{ 'is-invalid': errors.length > 0 }" />
            </div>
            <div class="error-messages">{{ errors[0] }}</div>
          </div>
        </ValidationProvider>

        <ValidationProvider :name="$t('common.phone')" rules="required" v-slot="{ errors }">
          <div class="mb-3">
            <div class="input-group">
              <input type="text" class="form-control" :class="{ 'is-invalid': errors.length > 0 }" aria-label="phone"
                :placeholder="$t('common.phone')" v-model="newTaker.phone" />
            </div>
            <div class="error-messages">{{ errors[0] }}</div>
          </div>
        </ValidationProvider>

        <ValidationProvider :name="$t('common.address')" rules="required" v-slot="{ errors }">
          <div class="mb-3">
            <div class="input-group">
              <input type="text" class="form-control" :class="{ 'is-invalid': errors.length > 0 }" aria-label="Address"
                maxlength="50" :placeholder="$t('common.address')" v-model="newTaker.address" />
            </div>
            <div class="error-messages">{{ errors[0] }}</div>
          </div>
        </ValidationProvider>

        <ValidationProvider :name="$t('common.city')" rules="required" v-slot="{ errors }">
          <div class="mb-3">
            <div class="input-group">
              <b-form-select :class="{ 'is-invalid': errors.length > 0 }" v-model="newTaker.city"
                :options="optionCities" value-field="id" text-field="name">
              </b-form-select>
            </div>
            <div class="error-messages">{{ errors[0] }}</div>
          </div>
        </ValidationProvider>

        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">{{ $t('common.description') }}</span>
          </div>
          <textarea class="form-control" aria-label="description" v-model="newTaker.description"></textarea>
        </div>
      </template>
      <template v-slot:footer>
        <b-button size="sm" variant="outline-primary" :disabled="fetchingData"
          @click="handleSubmit(handleSaveTaker);showAddTaker = false">{{ $t('common.saveandclose') }}</b-button>
        <b-button size="sm" variant="outline-primary" :disabled="fetchingData" @click="handleSubmit(handleSaveTaker)">
          {{ $t('common.save') }}
        </b-button>
      </template>
    </modal-dialog>
  </ValidationObserver>
</div>